.env
.eslintrc.js
.gitignore
.prettierrc
docker-compose.yml
nest-cli.json
package-lock.json
package.json
README.md
tsconfig.build.json
tsconfig.json
prisma/schema.prisma
src/app.module.ts
src/main.ts
src/prisma.service.ts
src/adresses/adresses.controller.ts
src/adresses/adresses.module.ts
src/adresses/adresses.service.ts
src/adresses/dto/create-adresses.dto.ts
src/adresses/enum/role.enum.ts
src/categories/categories.controller.ts
src/categories/categories.module.ts
src/categories/categories.service.ts
src/categories/dto/create-categories.dto.ts
src/categories/enum/role.enum.ts
src/claims/claims.controller.ts
src/claims/claims.module.ts
src/claims/claims.service.ts
src/claims/dto/create-claims.dto.ts
src/claims/enum/role.enum.ts
src/orders/orders.controller.ts
src/orders/orders.module.ts
src/orders/orders.service.ts
src/orders/dto/create-orders.dto.ts
src/orders/enum/role.enum.ts
src/posts/posts.controller.ts
src/posts/posts.module.ts
src/posts/posts.service.ts
src/posts/dto/create-post.dto.ts
src/posts/enum/role.enum.ts
src/products/products.controller.ts
src/products/products.module.ts
src/products/products.service.ts
src/products/dto/create-products.dto.ts
src/products/enum/role.enum.ts
src/purchases/purchases.controller.ts
src/purchases/purchases.module.ts
src/purchases/purchases.service.ts
src/purchases/dto/create-purchases.dto.ts
src/purchases/enum/role.enum.ts
src/sellers/sellers.controller.ts
src/sellers/sellers.module.ts
src/sellers/sellers.service.ts
src/sellers/dto/create-sellers.dto.ts
src/sellers/enum/role.enum.ts
src/subcategories/subcategories.controller.ts
src/subcategories/subcategories.module.ts
src/subcategories/subcategories.service.ts
src/subcategories/dto/create-subcategories.dto.ts
src/subcategories/enum/role.enum.ts
src/telephones/telephones.controller.ts
src/telephones/telephones.module.ts
src/telephones/telephones.service.ts
src/telephones/dto/create-thelephones.dto.ts
src/telephones/enum/role.enum.ts
src/users/users.controller.ts
src/users/users.module.ts
src/users/users.service.ts
src/users/dto/create-user.dto.ts
src/users/enum/role.enum.ts
.env
.eslintrc.js
.gitignore
.prettierrc
docker-compose.yml
nest-cli.json
package-lock.json
package.json
README.md
tsconfig.build.json
tsconfig.json
prisma/schema.prisma
src/app.module.ts
src/main.ts
src/prisma.service.ts
src/adresses/adresses.controller.ts
src/adresses/adresses.module.ts
src/adresses/adresses.service.ts
src/adresses/dto/create-adresses.dto.ts
src/adresses/enum/role.enum.ts
src/categories/categories.controller.ts
src/categories/categories.module.ts
src/categories/categories.service.ts
src/categories/dto/create-categories.dto.ts
src/categories/enum/role.enum.ts
src/claims/claims.controller.ts
src/claims/claims.module.ts
src/claims/claims.service.ts
src/claims/dto/create-claims.dto.ts
src/claims/enum/role.enum.ts
src/orders/orders.controller.ts
src/orders/orders.module.ts
src/orders/orders.service.ts
src/orders/dto/create-orders.dto.ts
src/orders/enum/role.enum.ts
src/posts/posts.controller.ts
src/posts/posts.module.ts
src/posts/posts.service.ts
src/posts/dto/create-post.dto.ts
src/posts/enum/role.enum.ts
src/products/products.controller.ts
src/products/products.module.ts
src/products/products.service.ts
src/products/dto/create-products.dto.ts
src/products/enum/role.enum.ts
src/purchases/purchases.controller.ts
src/purchases/purchases.module.ts
src/purchases/purchases.service.ts
src/purchases/dto/create-purchases.dto.ts
src/purchases/enum/role.enum.ts
src/sellers/sellers.controller.ts
src/sellers/sellers.module.ts
src/sellers/sellers.service.ts
src/sellers/dto/create-sellers.dto.ts
src/sellers/enum/role.enum.ts
src/subcategories/subcategories.controller.ts
src/subcategories/subcategories.module.ts
src/subcategories/subcategories.service.ts
src/subcategories/dto/create-subcategories.dto.ts
src/subcategories/enum/role.enum.ts
src/telephones/telephones.controller.ts
src/telephones/telephones.module.ts
src/telephones/telephones.service.ts
src/telephones/dto/create-thelephones.dto.ts
src/telephones/enum/role.enum.ts
src/users/users.controller.ts
src/users/users.module.ts
src/users/users.service.ts
src/users/dto/create-user.dto.ts
src/users/enum/role.enum.ts
